<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (addItem)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a href="#" class="list-group-item" style="cursor: pointer;" appHighlight [defautColor]="'black'" hoverColor='green' *ngFor="let ingredient of ingredients">
                {{ingredient.name}} ({{ingredient.amount}})
            <p *appUnless="ingredient.amount<=10">This is rendered by my custom structural directive</p>

            </a>
        </ul>
        
    </div>
</div>